{% load static %}
<div class="container">

    <div class="widget">
       <div class="chat_header">
          <!--Add the name of the bot here -->
          <span style="color:white;margin-left: 5px;">Chatbot</span>
          <span style="color:white;margin-right: 5px;float:right;margin-top: 5px;" id="close">
            <i class="fas fa-times-circle"></i>
          </span>
       </div>
       <!--Chatbot contents goes here -->
       <div class="chats" id="chats">
          <div class="clearfix"></div>
       </div>
       <!--user typing indicator -->
       <div class="keypad" >
          <input type="text" id="keypad" class="usrInput browser-default" placeholder="Type a message..." autocomplete="off">
       </div>
    </div>
    <!--bot widget -->
    <div class="profile_div" id="profile_div">
       <img class="imgProfile" src="{% static 'img/botAvatar.jpg' %}"/>
    </div>
    
 </div>