{% load static %}


<div style="text-align: center; color: darkcyan;font-size: 16px;"><b>
    <p>بسم الله الرحمن الرحيم</p>
  </b>
</div>
<!-- About Section -->
<div class="container objectives">
  <div class="row">

    <div class="col-md-8">
      <div class='text-center' style="padding-top: 16px;">
        <h2><b>Hi, I am AMINUL!</b></h2>
      </div>
      <div class="content" style="padding: 0px 18px;">
        <p style="text-align: justify;margin: 0;line-height: 1.4;">
           
          I am a Software Engineer with over 1 years of experience.
          I am a Professional Developer for Machine learning, Deep Learning,
          Data Sciences having a solid background in programming and in-depth knowledge.
          I am offering my services in the domain of machine learning, Deep Learning, NLP,
          Data science. I am working in a reputed organization as a machine learning engineer
           and working on exciting projects.</p>

      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="education" style="text-align: justify;margin-top: 25px;margin-left: 20px;">
            <h4 style="margin-bottom:10px"><b>Education</b></h4>

            <i class="fa fa-graduation-cap" style="position: absolute;"></i>
            <div class="description" style="position: relative; margin-left: 40px;">
              <p class="course" style="margin:0px;"><b>BSc in Computer Science &amp; Engineering, 2019</b></p>
              <p class="institution">Chittagong University of Engineering &amp; Technology</p>
            </div>
          </div>
          <!--education-->
        </div>
        <div class="col-md-5" style="padding:0; text-align: left;margin-top: 25px;">
          <h4 style="margin-bottom:10px"><b>Interests</b></h4>
          <ul class="ul-interests" style="list-style-type: square;margin-left:30px">
            <li>Competitive Programming</li>
            <li>Machine Learning</li>
            <li>Python</li>
            <li>Django</li>
            <li>Open Source</li>
          </ul>

        </div>
      </div>
      <!--row-->
    </div>
    <!--col-md-8-->


    <div class="col-md-4">
      <div class="card">
        <div style="padding-top: 20px;"></div>
        <img src="{% static 'img/profile.jpg' %}" alt="palash" style="margin-left: 24% ;width:50%; border-radius: 50%;">
        <h3 style="margin:10px 0px;font-family: Arial, Helvetica, sans-serif;">Aminul Haque palash</h3>
        <p class="title">Software Engineer</p>
        <p style="font-size:16px;color: #0095eb;margin:0px;">BJIT Limited</p>
        <p style="margin:0px;">Dhaka, Bangladesh</p>
        <div style="padding-bottom: 30px;" class="social">
          <ul style="list-style: none; display: block;">
            <li>
              <a href="">
                <i class="fas fa-envelope big-icon" style="color: #007ee5;"></i>
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener">
                <i class="fab fa-twitter big-icon" style="color: #55acee;"></i>
              </a>
            </li>

            <li>
              <a href="" target="_blank" rel="noopener">
                <i class="fab fa-github big-icon"></i>
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener">
                <i class="fab fa-linkedin big-icon" style="color: #0077B5;"></i>
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener">
                <i class="fab fa-stack-overflow big-icon" style="color: #f48024;"></i>
              </a>
            </li>
            <li>
              <a href="" target="_blank" rel="noopener">
                <i class="fab fa-facebook big-icon" style="color: #3b5999;"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--social-->

      </div>
      <!--card-->
    </div>
    <!--col-md-4-->
  </div>
  <!--row-->
</div>
<!--container objectives-->