{% load static %}
<section style="margin-top:30px;margin-bottom: 30px;">
    <div class="content" style="font-family: 'Source Sans Pro', Arial, sans-serif;">
      <div class="row">

        <div class="col-md-3">
          <div class="poster">
            <img
              src="//image.tmdb.org/t/p/w300_and_h450_bestv2{{ config.poster_path }}">
        </div>
        </div>
        <div class="col-md-8" style="color:aliceblue; margin-left:20px;">
          <h2>
            {{ config.title }}
            <span>({{ config.release_date }})</span>
          </h2>

          <span class="genres">
            <p>{{ config.genres }} {{ config.runtime }}</p>
          </span>
          
          <span>
          <a href="{{ config.trailer }}"><i class="fa fa-play-circle"></i> Play Trailer</a>
          </span>

          <div class="header_info">
            <h3 >Overview</h3>
            <div style="text-align: justify;">
              <p>{{ config.overview }}</p>
            </div>
  <!--
            <ol class="people">
              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>
            </ol>
  -->

          </div>

        </div>

      </div>
    </div>
  </section>