{% load static %}
<section style="margin-top:30px;margin-bottom: 30px;">
    <div class="content" style="font-family: 'Source Sans Pro', Arial, sans-serif;">
      <div class="row">

        <div class="col-md-3">
          <div class="poster">
            <img
              src="//image.tmdb.org/t/p/w300_and_h450_bestv2/aKx1ARwG55zZ0GpRvU2WrGrCG9o.jpg">
        </div>
        </div>
        <div class="col-md-8" style="color:aliceblue; margin-left:20px;">
          <h2>
            Mulan
            <span>(2020)</span>
          </h2>

          <span class="genres">
            <a href="/genre/18-drama/movie">Drama</a>,&nbsp;<a href="/genre/28-action/movie">Action</a>,&nbsp;<a
              href="/genre/10752-war/movie">War</a>,&nbsp;<a href="/genre/14-fantasy/movie">Fantasy</a>,&nbsp;<a
              href="/genre/12-adventure/movie">Adventure</a>
          </span>


          <span class="runtime">
            1h 55m
          </span>
          <br>
          <span>
          <a href="#"><i class="fa fa-play-circle"></i> Play Trailer</a>
          </span>

          <div class="header_info">
            <h3 >Overview</h3>
            <div style="text-align: justify;">
              <p>When the Emperor of China issues a decree that one man per family must serve in the Imperial Chinese Army
                to defend the country from Huns, Hua Mulan, the eldest daughter of an honored warrior, steps in to take
                the place of her ailing father. She is spirited, determined and quick on her feet. Disguised as a man by
                the name of Hua Jun, she is tested every step of the way and must harness her innermost strength and
                embrace her true potential.</p>
            </div>
  
            <ol class="people">
              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>
              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

              <li class="profile">
                <p>Niki Caro</p>
                <p class="character">( Director )</p>
              </li>

            </ol>
          </div>

        </div>

      </div>
    </div>
  </section>