{% load static %}
<!-- Projects -->

<div class="container Projects" style="font-family:Quicksand;font-size: 16px;
font-weight: 500;">
          
            <div class="header">
              <h1 style="margin-bottom: 10px;">My Projects <b style="color: firebrick; font-size: 15px;">Comming Soon!
                  😉</b></h1>
              <p>There is no challenge more challenging than the challenge to improve yourself. 😃</p>
            </div>
            <div class="row">
            <div class="col-md-4" style="border:blueviolet 1px ;">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fas fa-hands-helping"
                    style="color:blueviolet; font-size: 30px;"></i></span>
                <p>Project One</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fas fa-laptop-code" style="color:darkcyan;font-size: 30px;"></i></span>
                <p>Project Two</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fas fa-cloud-sun" style="color: deepskyblue;font-size: 30px;"></i></span>
                <p>Project Three</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fas fa-running" style="color:#f9bf3f; font-size: 30px;"></i></span>
                <p>Project Four</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fas fa-comments" style="color:#ec5453;font-size: 30px;"></i></span>
                <p>Project Five</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                <span class="icon2"><i class="fab fa-leanpub" style="color: #4054b2;font-size: 30px;"></i></span>
                <p>Project 6</p>
              </div>
            </div>
          </div>
        </div>

