{% load static %}





<section class="panel recommendations scroller" style="padding-bottom: 50px;">
    <div id="recommendation_waypoint" >
        <h3 style="color: blanchedalmond; padding-bottom: 20px; font-family: 'Noto Sans JP', sans-serif;">Recommendations</h3>
        <div id="recommendation_scroller" class="scroller_wrap should_fade is_fading">
            {% if recommended_movies %}
            <div class="scroller">    
                {% for item in recommended_movies %}
                <div class="item mini backdrop mini_card">
                    <div class="image_content" >
                        <a href="/movie/539885" title="Ava" alt="Ava">


                            <img width="200" height="250" 
                              src="//image.tmdb.org/t/p/w300_and_h450_bestv2{{ item.poster_path }}">

                            <div class="meta">
                                <span class="release_date"><span class="glyphicons_v2 calendar"></span>
                                    {{ item.release_date }}</span>
                                <span>

                                </span>
                            </div>
                        </a>
                    </div>
                    <p class="movie flex">
                        <a class="title" href="/movie/539885" title="Ava" alt="Ava"><bdi>{{ item.title }}</bdi></a>
                       
                    </p>
                </div>
                {% endfor %}
            </div>
                {% else %}
                    <h3 style="color: rgb(190, 22, 22);text-align: center;"> Sorry, no recommendation_scroller in this list. I'm working on it. 😃 </h3>
                {% endif %}
        </div>

</section>

    