{% load static %}
      
      <div class="container strengths" style="font-family:Quicksand;font-size: 16px;
        font-weight: 500;">
                  
                    <div class="header">
                      <h1 style="margin-bottom: 10px;">My Strengths</h1>
                      <p>There is no challenge more challenging than the challenge to improve yourself. 😃</p>
                    </div>
                    <div class="row">
                    <div class="col-md-4" style="border:blueviolet 1px ;">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fas fa-hands-helping"
                            style="color:blueviolet; font-size: 30px;"></i></span>
                        <p>Team work</p>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fas fa-laptop-code" style="color:darkcyan;font-size: 30px;"></i></span>
                        <p>Problem Solving</p>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fas fa-cloud-sun" style="color: deepskyblue;font-size: 30px;"></i></span>
                        <p>Optimistic</p>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fas fa-running" style="color:#f9bf3f; font-size: 30px;"></i></span>
                        <p>Self Motivation</p>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fas fa-comments" style="color:#ec5453;font-size: 30px;"></i></span>
                        <p>Communication</p>
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <div class="color-1 card" style="padding: 40px;margin-top: 30px;">
                        <span class="icon2"><i class="fab fa-leanpub" style="color: #4054b2;font-size: 30px;"></i></span>
                        <p>Self Learning</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--strengths-->