{% load static %}


<section class="panel top_billed scroller" style="margin-bottom: 100px;">
    <h3 style="color: azure;margin-bottom: 20px;">Top Billed Cast</h3>
    

    <div id="cast_scroller" class="scroller_wrap should_fade is_fading">
        <ol class="people scroller">

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="Liu Yifei" src="//image.tmdb.org/t/p/w138_and_h175_face/cL6JccAYqiZQEAIEFObEUC9LTt7.jpg"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">Liu Yifei</p>
                <p class="character" style="text-align: center;">Hua Mulan</p>
            </li>

            

        </ol>
        <div class="style_wrapper"></div>
    </div>


</section>