{% load static %}


<section class="panel top_billed scroller" style="margin-bottom: 100px;">
    <h3 style="color: azure;margin-bottom: 20px;font-family: 'Noto Sans JP', sans-serif;">Top Billed Cast</h3>
    
    <!-- style="" -->
    <div id="cast_scroller" class="scroller_wrap should_fade is_fading">
        <ol class="people scroller">
            {% for i in config.cast %}
              
            
            
            <li class="card">
                <a href="/person/122503-liu-yifei">
                    <img class="profile lazyload lazyloaded"
                        alt="" src="//image.tmdb.org/t/p/w138_and_h175_face/{{ i.profile_path }}"
                        data-loaded="true">
                </a>
                <p style="margin: 0px;text-align: center;">{{i.name}}</p>
                <p class="character" style="text-align: center;">{{ i.character }}</p>
            </li>

            {% endfor %}
        </ol>
        <div class="style_wrapper"></div>
    </div>


</section>